extends layout

block content
  section#blog
    .container
      .row
        .col-md-8.main-column
          .blog-item
            .blog-main
              a.blog-title(href='#')= page.title
              p.lead= page.metadata.lead
              div!= page.html            
       
