doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title UCDD II | Spring 2015
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // The main CSS file
    link(href='/css/main.css', rel='stylesheet')
    // CSS file for your custom modifications
    link(href='/css/custom.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/favicon.ico')

  body#home(data-spy='scroll', data-target='.navbar-collapse', data-offset='72')
    // ///////////////////////////////////////// end PARALLAX BACKGROUND ////////////////////////////////////////
    // /////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////
    section#header
      // Static navbar
      .navbar.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
            // Logo goes here - replace the image with yours
            a.navbar-brand(href='/index.html')
              //- img.logo-img.img-responsive(src='images/logo.png', alt='Booom! Logo', title='Booom! Logo')
              | UCCD II - Spring 2015
          |             
          .navbar-collapse.collapse.nav-right
            ul.nav.navbar-nav.navbar-right
              // Menu items go here
              li.active.hidden
                a(href='#home') Home
              li
                a(href='#features') Challenges
              li
                a(href='#gallery') Hackathons
              li
                a(href='#pricing') People
              |                     
              li
                a(href='#testimonials') Teams
              |                     
    // //////////////////////////////////////// end NAVIGATION BAR ////////////////////////////////////////

    
    block content

    // //////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////
    section#footer
      .bottom-menu-inverse
        .container
          .row
            .col-md-6
              p
                a(href='http://colorado.edu', target='_blank') University of Colorado Boulder
                | .
            |                     
            .col-md-6.social
              ul.bottom-icons
                li
                  a.fui-facebook(href='#')
                |                              
                li
                  a.fui-twitter(href='#')
                |                              
                li
                  a.fui-pinterest(href='#')
                |                              
                li
                  a.fui-googleplus(href='#')
                |                              
                li
                  a.fui-dribbble(href='#')
                |                              
                li
                  a.fui-vimeo(href='#')
        // /row
      // /container
    // //////////////////////////////////////// end FOOTER SECTION ////////////////////////////////////////

    // Feel free to remove the scripts you are not going to use
    script(src='/js/jquery-1.8.3.min.js')
    script(src='/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/js/jquery.ui.touch-punch.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.isotope.min.js')
    script(src='/js/jquery.magnific-popup.js')
    script(src='/js/jquery.fitvids.min.js')
    script(src='/assets/twitter/jquery.tweet.js')
    script(src='/js/bootstrap-select.js')
    script(src='/js/bootstrap-switch.js')
    script(src='/js/flatui-checkbox.js')
    script(src='/js/flatui-radio.js')
    script(src='/js/jquery.tagsinput.js')
    script(src='/js/jquery.placeholder.js')
    script(src='/js/custom.js')
    // //////////////////////////////////////// end JAVASCRIPT LOAD ////////////////////////////////////////
