doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title UCDD II | Spring 2015
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // The main CSS file
    link(href='/css/main.css', rel='stylesheet')
    // CSS file for your custom modifications
    link(href='/css/custom.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/favicon.ico')

  body#home(data-spy='scroll', data-target='.navbar-collapse', data-offset='72')
    // ///////////////////////////////////////// end PARALLAX BACKGROUND ////////////////////////////////////////
    // /////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////
    section#header
      // Static navbar
      .navbar.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
            // Logo goes here - replace the image with yours
            a.navbar-brand(href='/index.html')
              //- img.logo-img.img-responsive(src='images/logo.png', alt='Booom! Logo', title='Booom! Logo')
              | UCDD II - Spring 2015
          |             
          .navbar-collapse.collapse.nav-right
            ul.nav.navbar-nav.navbar-right
              // Menu items go here
              block menu

    // //////////////////////////////////////// end NAVIGATION BAR ////////////////////////////////////////

    
    block content

    // //////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////
    section#footer
      .bottom-menu-inverse
        .container
          .row
            .col-md-6
              p
                a(href='https://github.com/ucdd2-sp15/announcements/issues', target='_blank') Announcements
                | |
                a(href='/syllabus/policy.html', target='_blank') Policy 
                | |              
                a(href='/syllabus/grading.html', target='_blank') Grading
            .col-md-6.social
              
        // /row
      // /container
    // //////////////////////////////////////// end FOOTER SECTION ////////////////////////////////////////

    // Feel free to remove the scripts you are not going to use
    script(src='/js/jquery-1.8.3.min.js')
    script(src='/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/js/jquery.ui.touch-punch.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.isotope.min.js')
    script(src='/js/jquery.magnific-popup.js')
    script(src='/js/jquery.fitvids.min.js')
    script(src='/assets/twitter/jquery.tweet.js')
    script(src='/js/bootstrap-select.js')
    script(src='/js/bootstrap-switch.js')
    script(src='/js/flatui-checkbox.js')
    script(src='/js/flatui-radio.js')
    script(src='/js/jquery.tagsinput.js')
    script(src='/js/jquery.placeholder.js')
    script(src='/js/custom.js')
    // //////////////////////////////////////// end JAVASCRIPT LOAD ////////////////////////////////////////
